<div class="demo">
  <h2>在线演示</h2>
  <h3>
    示例
    {{#link-to 'basics.sidelist.doc'}}
      <span class="pull-right"><i class="fa fa-file-text-o"></i> 说明文档</span>
    {{/link-to}}
  </h3>
  <div class="show sidelist">
    {{gc-sidelist content=listData height=45 width=200 rowHeight=45}}
  </div>
</div>
