.has-feedback label ~ .form-control-feedback {
  top: 0;
}

.has-error .form-control-feedback {
  color: #ed5565;
}

.has-success .form-control-feedback {
  color: #1ab394;
}

.has-error .help-block {
  color: #ed5565;
}

.has-success .help-block {
  display: none;
}
