.has-feedback label ~ .form-control-feedback {
  top: 0;
}

.has-success .control-label {
  color: #1ab394;
}

.has-success .form-control-feedback {
  color: #1ab394;
}

.has-success .help-block {
  color: #1ab394;
}

.has-error .control-label {
  color: #c9302c;
}

.has-error .form-control-feedback {
  color: #c9302c;
}

.has-error .help-block {
  color: #c9302c;
}

.has-success .help-block {
  display: none;
}
