<div class="demo">
  <h2>在线演示</h2>
  <h3>
    示例
    {{#link-to 'basics.sidebar.doc'}}
      <span class="pull-right"><i class="fa fa-file-text-o"></i> 说明文档</span>
    {{/link-to}}
  </h3>
  <div class="show sidebar">
    {{gc-sidebar brand=brand menus=menus starterItems=starterItems}}
  </div>
</div>
